
[mysqld]

basedir        = /opt/zimbra/mariadb
datadir        = /opt/zimbra/db/data
socket         = /opt/zimbra/db/mysql.sock
pid-file       = /opt/zimbra/db/mysql.pid
bind-address   = 127.0.0.1
port           = 7306
user           = zimbra
tmpdir         = /opt/zimbra/data/tmp

external-locking
slow_query_log = 1
slow_query_log_file = /opt/zimbra/log/myslow.log

general_log_file = /opt/zimbra/log/mysql-mailboxd.log

long_query_time  = 1
log_queries_not_using_indexes

thread_cache_size = 5
max_connections   = 15

# We do a lot of writes, query cache turns out to be not useful.
query_cache_type = 0

sort_buffer_size = 1048576
read_buffer_size = 1048576

# (Num mailbox groups * Num tables in each group) + padding
table_open_cache = 120

innodb_data_file_path          = ibdata1:10M:autoextend
#innodb_buffer_pool_size        = 621449625
innodb_buffer_pool_size        = 400M
innodb_log_file_size           = 524288000
#innodb_log_buffer_size         = 8388608
innodb_log_buffer_size         = 838860
innodb_file_per_table

# Value is: 200 + max_connections + 2 * table_open_cache
#innodb_open_files              = 2710
innodb_open_files              = 200

innodb_max_dirty_pages_pct     = 30
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 0
max_allowed_packet             = 16777216

[mysqld_safe]

err-log      = /opt/zimbra/log/mysqld.log
pid-file     = /opt/zimbra/db/mysql.pid


